// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
width: 200px;
height: 200px;
}
.profile_info {
  text-align: left;
  float: left;
}

.sagas {
  text-align: center;
  float: center;

}
