/* line 6, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
.idea_list {
  border: solid gray;
  border-radius: 10px;
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* line 16, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
.thumb {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

/* line 21, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
.thumb img {
  min-width: 200px;
  min-height: 150px;
  width: 200px;
}

/* line 27, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
.comment-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  padding-bottom: 3px;
}

/* line 39, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
.comment-image-box {
  box-shadow: 10px 10px 5px #888888;
}

/* line 44, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
.comment-body {
  font-size: 10px;
  border: 1px solid red;
}

/* line 52, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
.clearfix {
  clear: both;
}

/* line 56, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/chapters.css.scss */
p {
  vertical-align: text-top;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */


html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* line 1, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/sessions.css.scss */
.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  max-width: 700px;
  padding: 15px;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

/* line 18, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/sessions.css.scss */
.login_submit {
  margin-top: 1em;
}
/* line 4, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/users.css.scss */
.chapter {
  width: 50px;
  height: 40px;
}

/* line 9, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/users.css.scss */
img {
  background: url(blah.jpg) 50% 50% no-repeat;
  /* 50% 50% centers image in div */
  width: 200px;
  height: 200px;
}

/* line 15, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/users.css.scss */
.left {
  float: left;
}

/* line 18, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/users.css.scss */
.right {
  float: left;
  margin: 40px 0 0 55px;
}

/* line 22, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/users.css.scss */
li {
  list-style-type: none;
}

/* line 26, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/users.css.scss */
.main_user {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 1000px;
  padding: 15px;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  overflow: scroll;
}
/* line 1, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
nav {
  width: 100%;
  background-color: black;
  height: 100px;
  /*margin: -55px 15px 0 0;*/
  color: white;
}

/* line 9, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
nav a {
  text-decoration: none;
}

/* line 13, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
nav ul li {
  display: inline;
}

/* line 18, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
.logo {
  font-size: 50px;
  /*padding-top: 35px;*/
  margin: 35px 0 0 15px;
  float: left;
}

/* line 25, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
.nav {
  float: right;
  list-style: none;
  margin: 40px 15px;
}

/* line 31, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
#splash {
  width: 100%;
}

/* line 35, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
.left {
  float: left;
  width: 33.333%;
  height: 300px;
  display: inline;
  overflow: hidden;
}

/* line 43, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
.left img {
  width: 100%;
  height: 300px;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 50, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
.overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 45px 0 66px 0;
  opacity: 0;
  -webkit-transition: opacity .55s ease;
  -moz-transition: opacity .55s ease;
  height: 100%;
  display: none;
}

/* line 60, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
.left:hover .overlay {
  opacity: 1;
  -webkit-transition: opacity 1.55s ease;
  -moz-transition: opacity 1.55s ease;
  display: block;
}

/* line 67, /Users/robertyusilverblatt/dev/wdi/project_two/saga_app/saga_app/app/assets/stylesheets/welcome.css.scss */
.left:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


 body, html {
  /*overflow: scroll;*/
  height: 100%;
 }
 nav {
  width: 100%;
  background: #131313; /* Old browsers */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #666666 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#666666)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%,#666666 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 0%,#666666 100%); /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%,#666666 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
  copy
  height: 100px;
  color: white;
  border-bottom: 2px groove black;
 }

 nav a {
  text-decoration: none;
 }

 nav ul li {
  display: inline;

 }

 .logo {
  font-size: 50px;
  /*padding-top: 35px;*/
  margin: 35px 0 0 15px;
  float: left;
 }

 .nav {
  float: right;
  list-style: none;
  margin: 40px 15px;
 }

 .wrapper {
  margin:0 auto;
  min-height: 100%;
  }

 .main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 700px;
  padding: 15px;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  overflow: scroll;

}


footer{
  clear: both;
  width: 100%;
  height: 80px;
  position: absolute;
  color: white;
  border-top: 2px groove black;
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top, #666666 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666666 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #666666 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #666666 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #666666 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  copy
}

 .relative {
  position:relative;
  bottom: 0;
 }
