<div class="idea_list">
<h1>What Other Adventurers Are Doing</h1>
<% @chapters.each do |chapter| %>
<div class="chapter_ideas">
 <p class="chapter_title"> <%= chapter.title %></p>
    <div class="thumb">
  <img src="<%= chapter.image_url %>">
</div>
</div>

<% end %>
</div>
