<section class="main">
	<h1>What Other Adventurers Are Doing</h1>
	<tbody>
		<% @chapters.sample(10).each do |chapter| %>
		<tr>
			 <td>
			 	<%= link_to(chapter.title, chapter_path(chapter.id))  %>
			 </td>
			 <br>
			 <td>
			 	<img src="<%= chapter.image_url %>">
			 </td>
			 <br>
		</tr>
		<% end %>
	</tbody>
</section>
